<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="MONTEVERDECONEXION" connectionString="Server=localhost;Database=club_monte_verde;Uid=root;Pwd=admin123;" providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="Test" value="TestString" />
	</appSettings>
</configuration>